# ENV
venv/
.venv/
env/
*.pyc
__pycache__/

# DATASETS
data/
datasets/
*.csv
*.parquet

# MODELS (sauf si tu veux les copier)


# GIT
.git/
.gitignore

# EDITOR
.vscode/
.idea/

# LOCAL OS
*.log
*.tmp
.DS_Store
Thumbs.db

venv/
__pycache__/
*.pyc
data/        # si tu préfères monter data via volume
mlruns/
models/
.env

